<library path="{{ package_name }}">
    <class name="{{ package_name }}/{{ controller_class_name }}" type="{{ package_name }}::{{ controller_class_name }}" base_class_type="controller_interface::ControllerInterface">
        <description>
            {{ controller_description }}
        </description>
    </class>
</library>
