from pathlib import Path

from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument
from launch.substitutions import LaunchConfiguration, TextSubstitution
from launch_ros.actions import Node


def generate_launch_description() -> LaunchDescription:
    """Bring up the Franka robot for the hand-eye calibration."""
    # ---------- Define common paths ----------

    default_{{ controller_name }}_config_path = str(
        Path(get_package_share_directory("{{ package_name }}")) / "config" / "{{ controller_name }}.yaml"
    )

    # ---------- Declare launch arguments ----------

    launch_args = []

    # Specify the parameter configuration file path for {{ controller_name }}
    {{ controller_name }}_config_path_arg = DeclareLaunchArgument(
        "{{ controller_name }}_config_path",
        default_value=TextSubstitution(text=default_{{ controller_name }}_config_path),
        description="(string) Path to the parameter configuration file for {{ controller_name }}.",
    )
    launch_args.append({{ controller_name }}_config_path_arg)

    # ---------- Declare executables ----------

    # Controller spawner executable
    {{ controller_name }}_spawner = Node(
        package="controller_manager",
        executable="spawner",
        arguments=[
            "{{ controller_name }}",
            # "--inactive",  # Optional: when enabled, load and configure the controller but do not activate
            "--param-file",
            LaunchConfiguration({{ controller_name }}_config_path_arg.name),
        ],
        output="screen",
    )

    # ---------- Construct launch description ----------

    return LaunchDescription(
        [
            *launch_args,  # Unpack the launch arguments
            {{ controller_name }}_spawner,
        ]
    )
